POKEMOOOOON!

In [8]:
import pandas as pd

In [6]:
df = pd.read_csv('pokemon.csv')

In [11]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('pokemon.csv')

In [5]:
attack_by_type = df.groupby('type1')['attack'].mean().sort_values(ascending=False)
print('Typy Pokemonów z najlepszym atakiem:')
print(attack_by_type)

Typy Pokemonów z najlepszym atakiem:
type1
dragon      106.407407
fighting     99.178571
ground       94.812500
steel        93.083333
rock         90.666667
dark         87.793103
fire         81.500000
normal       75.161905
grass        73.769231
water        73.307018
ice          73.304348
ghost        72.740741
poison       72.656250
electric     70.820513
bug          70.125000
flying       66.666667
psychic      65.566038
fairy        62.111111
Name: attack, dtype: float64

In [6]:
attack_by_type = df.groupby('type2')['attack'].mean().sort_values(ascending=False)
print('Typy Pokemonów z najlepszym atakiem:')
print(attack_by_type)

Typy Pokemonów z najlepszym atakiem:
type2
fighting    107.960000
steel        97.454545
dark         95.904762
ghost        95.571429
ice          88.666667
dragon       88.470588
rock         86.857143
ground       86.058824
flying       78.389474
grass        78.250000
psychic      76.586207
bug          76.000000
electric     74.777778
water        70.176471
poison       67.617647
fire         66.000000
fairy        63.482759
normal       52.750000
Name: attack, dtype: float64

In [45]:
speed_by_type = df.groupby('type1')['speed'].mean().sort_values(ascending=False)
print('Najszybsze typy pokemonów:')
print(speed_by_type)

Najszybsze typy pokemonów:
type1
flying      99.666667
electric    85.410256
dragon      76.111111
dark        75.310345
psychic     75.150943
fire        73.346154
normal      69.533333
fighting    64.285714
poison      64.187500
water       63.921053
bug         63.569444
ice         62.739130
ground      59.968750
grass       59.025641
ghost       58.333333
rock        57.422222
steel       56.583333
fairy       53.666667
Name: speed, dtype: float64

In [44]:
speed_by_type = df.groupby('type2')['speed'].mean().sort_values(ascending=False)
print('Najszybsze typy pokemonów:')
print(speed_by_type)

Najszybsze typy pokemonów:
type2
normal      89.250000
flying      82.705263
fighting    80.640000
dark        76.857143
fire        75.307692
dragon      69.705882
psychic     69.586207
ice         68.733333
electric    68.666667
fairy       67.482759
steel       64.409091
poison      64.088235
ghost       58.285714
grass       55.450000
ground      55.441176
water       53.764706
bug         50.800000
rock        36.000000
Name: speed, dtype: float64

In [7]:
defense_by_type = df.groupby('type1')['defense'].mean().sort_values(ascending=False)
print('Średnia wartość obrony dla poszczególnych typów:')
print(defense_by_type)

Średnia wartość obrony dla poszczególnych typów:
type1
steel       120.208333
rock         96.266667
dragon       86.259259
ground       83.906250
ghost        79.518519
water        73.482456
ice          71.913043
grass        70.871795
bug          70.847222
dark         70.517241
poison       70.031250
psychic      69.264151
fairy        68.166667
fire         67.788462
fighting     66.392857
flying       65.000000
electric     61.820513
normal       59.695238
Name: defense, dtype: float64

In [42]:
defense_by_type = df.groupby('type2')['defense'].mean().sort_values(ascending=False)
print('Średnia wartość obrony dla poszczególnych typów:')
print(defense_by_type)

Średnia wartość obrony dla poszczególnych typów:
type2
rock        131.142857
steel       106.272727
water        86.941176
ground       84.735294
psychic      84.310345
dragon       84.058824
fighting     83.280000
ice          81.933333
ghost        80.071429
bug          76.800000
grass        75.250000
fire         73.846154
electric     71.666667
fairy        70.931034
dark         67.238095
flying       66.778947
poison       59.529412
normal       53.750000
Name: defense, dtype: float64

In [8]:
max_abilities = df.explode("abilities").groupby("name")["abilities"].nunique().max()

In [9]:
print("Największa ilość umiejętności danego Pokemona w bazie danych to: ", max_abilities)

Największa ilość umiejętności danego Pokemona w bazie danych to:  1

In [10]:
abilities = df["abilities"].str.split(",")

In [11]:
max_abilities = abilities.apply(lambda x: len(x)).max()

In [12]:
print("Największa ilość umiejętności ze wszystkich Pokemonów w bazie danych to:", max_abilities)

Największa ilość umiejętności ze wszystkich Pokemonów w bazie danych to: 6

In [13]:
import sqlite3
import pandas as pd

#łączę z bazą danych
conn = sqlite3.connect('pokemon.db')

# pobieram dane za pomocą query
query = "SELECT base_total, abilities FROM pokemon"
data = pd.read_sql_query(query, conn)

In [24]:
data['num_abilities'] = data['abilities'].str.count(',') + 1

In [25]:
print(data)

     base_total                    abilities  num_abilities
0           318  ['Overgrow', 'Chlorophyll']              2
1           405  ['Overgrow', 'Chlorophyll']              2
2           625  ['Overgrow', 'Chlorophyll']              2
3           309     ['Blaze', 'Solar Power']              2
4           405     ['Blaze', 'Solar Power']              2
..          ...                          ...            ...
796         570              ['Beast Boost']              1
797         570              ['Beast Boost']              1
798         570              ['Beast Boost']              1
799         600              ['Prism Armor']              1
800         600               ['Soul-Heart']              1

[801 rows x 3 columns]

In [18]:
# Obliczam korelację między kolumnami 'num_abilities' i 'base_total'
correlation = data['num_abilities'].corr(data['base_total'])

print("Korelacja między ilością umiejętności a base total wynosi:", correlation)

Korelacja między ilością umiejętności a base total wynosi: -0.2262592605167402

In [26]:
data['num_abilities'] = len(data['abilities'].str.split(','))

In [27]:
print(data)

     base_total                    abilities  num_abilities
0           318  ['Overgrow', 'Chlorophyll']            801
1           405  ['Overgrow', 'Chlorophyll']            801
2           625  ['Overgrow', 'Chlorophyll']            801
3           309     ['Blaze', 'Solar Power']            801
4           405     ['Blaze', 'Solar Power']            801
..          ...                          ...            ...
796         570              ['Beast Boost']            801
797         570              ['Beast Boost']            801
798         570              ['Beast Boost']            801
799         600              ['Prism Armor']            801
800         600               ['Soul-Heart']            801

[801 rows x 3 columns]