In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('pokemon.csv')

In [3]:
dataset

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [6]:
import pandas_profiling as pp

In [5]:
dataset.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [15]:
legendary_pokemons = dataset[dataset["is_legendary"] == 1]

In [ ]:
# LEGENDARNE POKEMONY

In [20]:
legendary_data = legendary_pokemons[["name", "type1", "type2", "base_total"]]

In [26]:
legendary_data.shape

(70, 4)

In [24]:
legendary_data = legendary_data.sort_values("base_total", ascending=False)

In [25]:
print(legendary_data.head(10))

         name    type1    type2  base_total
149    Mewtwo  psychic      NaN         780
383  Rayquaza   dragon   flying         780
382   Groudon   ground      NaN         770
381    Kyogre    water      NaN         770
492    Arceus   normal      NaN         720
717   Zygarde   dragon   ground         708
379    Latias   dragon  psychic         700
380    Latios   dragon  psychic         700
645    Kyurem   dragon      ice         700
718   Diancie     rock    fairy         700

In [ ]:
#WZROST

In [29]:
dataset['height_m'].describe()

count    781.000000
mean       1.163892
std        1.080326
min        0.100000
25%        0.600000
50%        1.000000
75%        1.500000
max       14.500000
Name: height_m, dtype: float64

In [35]:
najwyżsi = dataset.nlargest(10, 'height_m')

In [38]:
print(najwyżsi[["name", "type1", "type2", "height_m"]])

           name   type1   type2  height_m
320     Wailord   water     NaN      14.5
207     Steelix   steel  ground       9.2
796  Celesteela   steel  flying       9.2
94         Onix    rock  ground       8.8
383    Rayquaza  dragon  flying       7.0
129    Gyarados   water  flying       6.5
349     Milotic   water     NaN       6.2
716     Yveltal    dark  flying       5.8
798    Guzzlord    dark  dragon       5.5
482      Dialga   steel  dragon       5.4

In [ ]:
#HIT POINTS

In [39]:
dataset['hp'].describe()

count    801.000000
mean      68.958801
std       26.576015
min        1.000000
25%       50.000000
50%       65.000000
75%       80.000000
max      255.000000
Name: hp, dtype: float64

In [40]:
top_hp = dataset.nlargest(10, 'hp')

In [41]:
print(top_hp[["name", "type1", "type2", "hp"]])

          name    type1   type2   hp
241    Blissey   normal     NaN  255
112    Chansey   normal     NaN  250
798   Guzzlord     dark  dragon  223
717    Zygarde   dragon  ground  216
201  Wobbuffet  psychic     NaN  190
320    Wailord    water     NaN  170
593  Alomomola    water     NaN  165
142    Snorlax   normal     NaN  160
288    Slaking   normal     NaN  150
425   Drifblim    ghost  flying  150

In [ ]:
#TYPY POKEMONÓW

In [42]:
typy_pokemonów = dataset["type1"].unique()

In [43]:
print(typy_pokemonów)

['grass' 'fire' 'water' 'bug' 'normal' 'poison' 'electric' 'ground'
 'fairy' 'fighting' 'psychic' 'rock' 'ghost' 'ice' 'dragon' 'dark' 'steel'
 'flying']

In [46]:
typ_ilość = dataset.groupby(["type1", "type2"]).size()

In [47]:
print(typ_ilość)

type1  type2
bug    electric     4
       fairy        2
       fighting     3
       fire         2
       flying      13
                   ..
water  ice          3
       poison       3
       psychic      5
       rock         4
       steel        1
Length: 148, dtype: int64

In [54]:
# Czego szukamy, czyli nasze typy
typy = ['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric', 'ground',
 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice', 'dragon', 'dark', 'steel',
 'flying']

# Tworzymy słownik żeby zliczał typy
counts = {typ: 0 for typ in typy}

# Pętla, która będzie zliczać wiersze zawierające szukane słowo w kolumnach typ1 i typ2
for col in ['type1', 'type2']:
    for typ in typy:
        counts[typ] += dataset[col].str.contains(typ).sum()

# Wyniki
for typ, count in counts.items():
    print("Ilość wierszy zawierających '{}': {}".format(typ, count))

Ilość wierszy zawierających 'grass': 98
Ilość wierszy zawierających 'fire': 65
Ilość wierszy zawierających 'water': 131
Ilość wierszy zawierających 'bug': 77
Ilość wierszy zawierających 'normal': 109
Ilość wierszy zawierających 'poison': 66
Ilość wierszy zawierających 'electric': 48
Ilość wierszy zawierających 'ground': 66
Ilość wierszy zawierających 'fairy': 47
Ilość wierszy zawierających 'fighting': 53
Ilość wierszy zawierających 'psychic': 82
Ilość wierszy zawierających 'rock': 59
Ilość wierszy zawierających 'ghost': 41
Ilość wierszy zawierających 'ice': 38
Ilość wierszy zawierających 'dragon': 44
Ilość wierszy zawierających 'dark': 50
Ilość wierszy zawierających 'steel': 46
Ilość wierszy zawierających 'flying': 98

In [61]:
# Filtruje wiersze, które zawierają słowo "grass" w kolumnie "type1" lub "type2" 
bug_pokemons = dataset[dataset['type1'].str.contains('bug', case=False) | dataset['type2'].str.contains('bug', case=False)]

In [62]:
bug_pokemons.shape

(77, 41)

In [ ]:
print(grass_pokemons)

In [12]:
# POKEMONY TYLKO TYP GRASS
# Filtruj wiersze zawierające słowo „grass” w kolumnie „typ1” i pustą wartość w kolumnie „typ2”
tylko_grass = dataset[(dataset['type1'].str.contains('grass', case=False)) & (dataset['type2'].isna())]

# Zlicza wiersze
count = len(tylko_grass)

# Wyświetla wyniki 
print("Liczba pokemonów tylko typ 'grass':", count)

Liczba pokemonów tylko typ 'grass': 37

In [10]:
# Grupuje wiersze według kolumn „type1” i „type2” i policz liczbę wystąpień
kombinacje = dataset.groupby(['type1', 'type2']).size()

# Sortuje wyniki w kolejności malejącej
kombinacje = kombinacje.sort_values(ascending=False)

# Wyświetli top 20 najczęstrzych kombinacji
print(kombinacje.head(20))

type1    type2
normal   flying      26
grass    poison      14
bug      flying      13
         poison      11
water    ground       9
         flying       7
rock     water        6
grass    flying       6
rock     ground       6
fire     fighting     6
steel    psychic      6
fire     flying       6
bug      grass        6
psychic  fairy        6
         flying       6
water    psychic      5
grass    fairy        5
dark     flying       5
ghost    grass        5
bug      steel        5
dtype: int64

In [69]:
#Filtrujemy dataset gdzie wiersze w typ1 zawierają 'normal' i w type2 zawieraja 'flying'
normal_flying = dataset[(dataset['type1'].str.contains('normal', case=False)) & (dataset['type2'].str.contains('flying', case=False))]

In [70]:
#Obliczamy średnią dla normal_flying
base_total_normal_flying = normal_flying['base_total'].mean()

In [72]:
print(f"Średni base_total dla normal_flying {base_total_normal_flying:.2f}.")

Średni base_total dla normal_flying 370.12.

In [73]:
grass_poison = dataset[(dataset['type1'].str.contains('grass', case=False)) & (dataset['type2'].str.contains('poison', case=False))]
base_total_grass_poison = grass_poison['base_total'].mean()
print(f"Średni base_total dla grass_poison {base_total_grass_poison:.2f}.")

Średni base_total dla grass_poison 406.14.

In [80]:
bug_flying = dataset[(dataset['type1'].str.contains('bug', case=False)) & (dataset['type2'].str.contains('flying', case=False))]
base_total_bug_flying = bug_flying['base_total'].mean()
print(f"Średni base_total dla bug_flying {base_total_bug_flying:.2f}.")

Średni base_total dla bug_flying 408.69.

In [81]:
bug_poison = dataset[(dataset['type1'].str.contains('bug', case=False)) & (dataset['type2'].str.contains('poison', case=False))]
base_total_bug_poison = bug_poison['base_total'].mean()
print(f"Średni base_total dla bug_poison {base_total_bug_poison:.2f}.")

Średni base_total dla bug_poison 344.55.

In [82]:
water_ground = dataset[(dataset['type1'].str.contains('water', case=False)) & (dataset['type2'].str.contains('ground', case=False))]
base_total_water_ground = water_ground['base_total'].mean()
print(f"Średni base_total dla water_ground {base_total_water_ground:.2f}.")

Średni base_total dla water_ground 422.67.

In [83]:
water_flying = dataset[(dataset['type1'].str.contains('water', case=False)) & (dataset['type2'].str.contains('flying', case=False))]
base_total_water_flying = water_flying['base_total'].mean()
print(f"Średni base_total dla water_flying {base_total_water_flying:.2f}.")

Średni base_total dla water_flying 422.57.

In [84]:
rock_water = dataset[(dataset['type1'].str.contains('rock', case=False)) & (dataset['type2'].str.contains('water', case=False))]
base_total_rock_water = rock_water['base_total'].mean()
print(f"Średni base_total dla rock_water {base_total_rock_water:.2f}.")

Średni base_total dla rock_water 417.67.

In [85]:
grass_flying = dataset[(dataset['type1'].str.contains('grass', case=False)) & (dataset['type2'].str.contains('flying', case=False))]
base_total_grass_flying = grass_flying['base_total'].mean()
print(f"Średni base_total dla grass_flying {base_total_grass_flying:.2f}.")

Średni base_total dla grass_flying 375.00.

In [3]:
rock_ground = dataset[(dataset['type1'].str.contains('rock', case=False)) & (dataset['type2'].str.contains('ground', case=False))]
base_total_rock_ground = rock_ground['base_total'].mean()
print(f"Średni base_total dla rock_ground {base_total_rock_ground:.2f}.")

Średni base_total dla rock_ground 380.00.

In [4]:
fire_fighting = dataset[(dataset['type1'].str.contains('fire', case=False)) & (dataset['type2'].str.contains('fighting', case=False))]
base_total_fire_fighting = fire_fighting['base_total'].mean()
print(f"Średni base_total dla fire_fighting {base_total_fire_fighting:.2f}.")

Średni base_total dla fire_fighting 486.67.

In [5]:
steel_psychic = dataset[(dataset['type1'].str.contains('steel', case=False)) & (dataset['type2'].str.contains('psychic', case=False))]
base_total_steel_psychic = steel_psychic['base_total'].mean()
print(f"Średni base_total dla steel_psychic {base_total_steel_psychic:.2f}.")

Średni base_total dla steel_psychic 470.00.

In [ ]:
fire_fighting = dataset[(dataset['type1'].str.contains('fire', case=False)) & (dataset['type2'].str.contains('fighting', case=False))]
base_total_fire_fighting = fire_fighting['base_total'].mean()
print(f"Średni base_total dla fire_fighting {base_total_fire_fighting:.2f}.")

In [6]:
fire_flying = dataset[(dataset['type1'].str.contains('fire', case=False)) & (dataset['type2'].str.contains('flying', case=False))]
base_total_fire_flying = fire_flying['base_total'].mean()
print(f"Średni base_total dla fire_flying {base_total_fire_flying:.2f}.")

Średni base_total dla fire_flying 541.83.

In [7]:
bug_grass = dataset[(dataset['type1'].str.contains('bug', case=False)) & (dataset['type2'].str.contains('grass', case=False))]
base_total_bug_grass = bug_grass['base_total'].mean()
print(f"Średni base_total dla bug_grass {base_total_bug_grass:.2f}.")

Średni base_total dla bug_grass 384.00.

In [8]:
psychic_fairy = dataset[(dataset['type1'].str.contains('psychic', case=False)) & (dataset['type2'].str.contains('fairy', case=False))]
base_total_psychic_fairy = psychic_fairy['base_total'].mean()
print(f"Średni base_total dla psychic_fairy {base_total_psychic_fairy:.2f}.")

Średni base_total dla psychic_fairy 405.67.

In [9]:
psychic_flying = dataset[(dataset['type1'].str.contains('psychic', case=False)) & (dataset['type2'].str.contains('flying', case=False))]
base_total_psychic_flying = psychic_flying['base_total'].mean()
print(f"Średni base_total dla psychic_flying {base_total_psychic_flying:.2f}.")

Średni base_total dla psychic_flying 451.33.

In [4]:
najsilniejsi = dataset['base_total'].nlargest(20)

In [76]:
# Sortowanie na podstawie base_total malejąco i wybranie top 20
top_20_najsilniejsi = dataset.sort_values(by='base_total', ascending=False).head(20)

# wyniki
print(top_20_najsilniejsi[['name', 'type1','type2', 'base_total', 'is_legendary']])

          name    type1     type2  base_total  is_legendary
149     Mewtwo  psychic       NaN         780             1
383   Rayquaza   dragon    flying         780             1
382    Groudon   ground       NaN         770             1
381     Kyogre    water       NaN         770             1
492     Arceus   normal       NaN         720             1
717    Zygarde   dragon    ground         708             1
380     Latios   dragon   psychic         700             1
372  Salamence   dragon    flying         700             0
247  Tyranitar     rock      dark         700             0
444   Garchomp   dragon    ground         700             0
718    Diancie     rock     fairy         700             1
379     Latias   dragon   psychic         700             1
375  Metagross    steel   psychic         700             0
645     Kyurem   dragon       ice         700             1
719      Hoopa  psychic     ghost         680             1
716    Yveltal     dark    flying         680             1
715    Xerneas    fairy       NaN         680             1
248      Lugia  psychic    flying         680             1
643     Zekrom   dragon  electric         680             1
791     Lunala  psychic     ghost         680             1

In [79]:
# Wybieramy wiersze, które maja 0 w kolumnie is_legandary
filtered_dataset = dataset[dataset['is_legendary'] == 0]

# # Sortowanie filtered_dataset na podstawie base_total malejąco i wybranie top 20
top_20_base_total = filtered_dataset.sort_values('base_total', ascending=False).head(20)

print(top_20_base_total[['name', 'type1', 'type2', 'base_total', 'is_legendary']])

           name     type1     type2  base_total  is_legendary
372   Salamence    dragon    flying         700             0
375   Metagross     steel   psychic         700             0
444    Garchomp    dragon    ground         700             0
247   Tyranitar      rock      dark         700             0
288     Slaking    normal       NaN         670             0
129    Gyarados     water    flying         640             0
657    Greninja     water      dark         640             0
259    Swampert     water    ground         635             0
5     Charizard      fire    flying         634             0
305      Aggron     steel      rock         630             0
253    Sceptile     grass       NaN         630             0
256    Blaziken      fire  fighting         630             0
8     Blastoise     water       NaN         630             0
2      Venusaur     grass    poison         625             0
447     Lucario  fighting     steel         625             0
745  Wishiwashi     water       NaN         620             0
281   Gardevoir   psychic     fairy         618             0
474     Gallade   psychic  fighting         618             0
141  Aerodactyl      rock    flying         615             0
180    Ampharos  electric       NaN         610             0

In [66]:

# Oblicz średnią wartość base_total dla wierszy, w których słowa 'grass' lub 'bug' pojawiają się w kolumnie type1 lub type2.
types = ['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric', 'ground',
 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice', 'dragon', 'dark', 'steel',
 'flying']
averages = {}
for t in types:
    avg = dataset.loc[(dataset['type1'].str.contains(t, case=False)) | (dataset['type2'].str.contains(t, case=False)), 'base_total'].mean()
    averages[t] = avg
    print(f"Average base_total for {t}: {avg}")

Average base_total for grass: 411.4845360824742
Average base_total for fire: 452.234375
Average base_total for water: 424.0381679389313
Average base_total for bug: 380.4415584415584
Average base_total for normal: 401.6697247706422
Average base_total for poison: 397.453125
Average base_total for electric: 439.1914893617021
Average base_total for ground: 430.71875
Average base_total for fairy: 425.8085106382979
Average base_total for fighting: 456.58490566037733
Average base_total for psychic: 463.7926829268293
Average base_total for rock: 446.9830508474576
Average base_total for ghost: 444.8048780487805
Average base_total for ice: 447.13157894736844
Average base_total for dragon: 513.0
Average base_total for dark: 447.74
Average base_total for steel: 493.67391304347825
Average base_total for flying: 441.734693877551

In [68]:
sns.set_style("whitegrid")
sns.barplot(x='name', y='base_total', data=top_20_najsilniejsi)
plt.xticks(rotation=90)
plt.xlabel('Pokémon')
plt.ylabel('Base Total')
plt.title('Top 20 Strongest Pokémon')

Text(0.5, 1.0, 'Top 20 Strongest Pokémon')

In [8]:
corr = dataset['attack'].corr(dataset['base_total'])

In [9]:
print("Correlation coefficient:", corr)

Correlation coefficient: 0.7301341119500756

In [9]:
typy_pokemonow = dataset.groupby('type1')

In [10]:
typy_pokemonow['type1'].count()

type1
bug          72
dark         29
dragon       27
electric     39
fairy        18
fighting     28
fire         52
flying        3
ghost        27
grass        78
ground       32
ice          23
normal      105
poison       32
psychic      53
rock         45
steel        24
water       114
Name: type1, dtype: int64

In [17]:
typy_pokemonow.type1.count().sort_values(ascending=False)

type1
water       114
normal      105
grass        78
bug          72
psychic      53
fire         52
rock         45
electric     39
ground       32
poison       32
dark         29
fighting     28
ghost        27
dragon       27
steel        24
ice          23
fairy        18
flying        3
Name: type1, dtype: int64