In [1]:
import numpy as np
import pandas as pd
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_dir = 'C:\\Users\\oem\\Desktop\\isa_projekty\\samoloty\\'

df = pd.read_csv(data_dir + '\\AviationData2.csv', encoding = 'latin-1')

C:\Users\oem\AppData\Local\Temp\ipykernel_10892\4153378306.py:3: DtypeWarning: Columns (6,7,28,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_dir + '\\AviationData2.csv', encoding = 'latin-1')

In [3]:
#dropping unnecessary columns
df.drop(columns = ['Latitude','Longitude', 'Injury.Severity', 'Event.Id','Accident.Number','Registration.Number','FAR.Description','Schedule','Publication.Date',
                   'Report.Status', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37'],axis=1)

,Investigation.Type,Event.Date,Location,Country,Airport.Code,Airport.Name,Aircraft.damage,Aircraft.Category,Make,Model,...,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Destroyed,NaN,Stinson,108-3,...,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Destroyed,NaN,Piper,PA24-180,...,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,NaN,NaN,Destroyed,NaN,Cessna,172M,...,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Destroyed,NaN,Rockwell,112,...,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,NaN,NaN,Destroyed,NaN,Cessna,501,...,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,Accident,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,PIPER,PA-28-151,...,NaN,NaN,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN
88885,Accident,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,BELLANCA,7ECA,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
88886,Accident,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,...,1.0,NaN,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN
88887,Accident,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,CESSNA,210N,...,NaN,NaN,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN
88888,Accident,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,PIPER,PA-24-260,...,NaN,NaN,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN

In [4]:
# kod Asi
df['Event.Date'] = pd.to_datetime(df['Event.Date'])
#Adding day, month & year column
df['Year'] = df['Event.Date'].dt.year
df['Month.Abbr'] = df['Event.Date'].dt.month_name().str[:3]
df['Day.Name.Abbr'] = df['Event.Date'].dt.day_name().str[:3]

# Adding weekend column
df.loc[(df['Day.Name.Abbr'] == 'Sat') | (df['Day.Name.Abbr'] == 'Sun'), 'Weekend'] = True
df.loc[(df['Day.Name.Abbr'] != 'Sat') & (df['Day.Name.Abbr'] != 'Sun'), 'Weekend'] = False

In [5]:
#romoving records before year 1983
df = df[df['Year']>1982]

In [6]:
#removing entries outside the US
df = df[df['Country'] == 'United States']

In [7]:
#replacing missing values with 'UNKNOWN' or 0

df['Location'].fillna('UNKNOWN',inplace=True)
df['Country'].fillna('UNKNOWN',inplace=True)
df['Aircraft.damage'].fillna('UNKNOWN',inplace=True)

#jeśli Aircraft.dmg ma być targetem to chyba wywalamy unknowny?
df['Aircraft.damage'].replace({'Unknown':'UNKNOWN'},inplace=True)
df['Aircraft.Category'].fillna('UNKNOWN',inplace=True)
df['Purpose.of.flight'].fillna('UNKNOWN',inplace=True)
df['Amateur.Built'].fillna('UNKNOWN',inplace=True)
df['Airport.Name'].fillna('None',inplace=True)
df['Airport.Code'].fillna('None',inplace=True)
df['Model'].fillna('UNKNOWN',inplace=True)
df['Make'].fillna('UNKNOWN',inplace=True)
df['Number.of.Engines'].fillna('UNKNOWN',inplace=True)
#df_US =df_US[df_US['Number.of.Engines'].str.contains("UNKNOWN")==False]
df['Engine.Type'].fillna('UNKNOWN',inplace=True)
#df_US =df_US[df_US['Engine.Type'].str.contains("Unknown")==False]
#df_US =df_US[df_US['Engine.Type'].str.contains("UNKNOWN")==False]
df['Total.Fatal.Injuries'].fillna(0,inplace=True)
df['Total.Minor.Injuries'].fillna(0,inplace=True)
df['Total.Uninjured'].fillna(0,inplace=True)
df['Total.Serious.Injuries'].fillna(0,inplace=True)
df['Broad.phase.of.flight'].fillna('UNKNOWN',inplace = True)
#df_US1 =df_US[df_US['Broad.phase.of.flight'].str.contains("Unknown")==False]
#df_US =df_US[df_US['Broad.phase.of.flight'].str.contains("UNKNOWN")==False]
df['Weather.Condition'].fillna('UNKNOWN',inplace = True)
df['Country'] = df['Country'].replace('MISSING', 'UNKNOWN')

In [8]:
#removing n. of engines greater than 4
df=df[(df['Number.of.Engines']=="UNKNOWN")
      | (df['Number.of.Engines']==1.0) |
        (df['Number.of.Engines']==2.0) |
      (df['Number.of.Engines']==3.0)
      | (df['Number.of.Engines']==4.0)]

In [9]:
#modification of n.of engines (merging 3 & 4 engines into one class)
df['Number.of.Engines']=df['Number.of.Engines'].replace(1.0, 'one')
df['Number.of.Engines']=df['Number.of.Engines'].replace(2.0, 'two')
df['Number.of.Engines']=df['Number.of.Engines'].replace(3.0, 'three_to_four')
df['Number.of.Engines']=df['Number.of.Engines'].replace(4.0, 'three_to_four')

In [10]:
#cleaning engine type
df['Engine.Type']=df['Engine.Type'].replace('Unknown', 'UNKNOWN')
df['Engine.Type']=df['Engine.Type'].replace('UNK', 'UNKNOWN')
df['Engine.Type']=df['Engine.Type'].replace('Electric', 'UNKNOWN')

In [11]:
#cleaning purpose of flight
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Unknown', 'UNKNOWN')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Air Race/show', 'Air Race show')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Executive/corporate', 'Business')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('PUBS', 'Public Aircraft')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('PUBL', 'Public Aircraft')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Public Aircraft - Federal', 'Public Aircraft')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Public Aircraft - Local', 'Public Aircraft')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Public Aircraft - State', 'Public Aircraft')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Other Work Use', 'UNKNOWN') #może other zamienić też na unknown
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Skydiving', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Air Race show', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('External Load', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Firefighting', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Banner Tow', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Glider Tow', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('Air Drop', 'Other')
df['Purpose.of.flight']=df['Purpose.of.flight'].replace('ASHO', 'Other')

In [12]:
#cleaning weather condition
df['Weather.Condition']=df['Weather.Condition'].replace('Unk', 'UNKNOWN')
df['Weather.Condition']=df['Weather.Condition'].replace('UNK', 'UNKNOWN')

In [13]:
#cleaning broad phase of flight
df['Broad.phase.of.flight']=df['Broad.phase.of.flight'].replace('Unknown', 'UNKNOWN')
df['Broad.phase.of.flight']=df['Broad.phase.of.flight'].replace('Other', 'UNKNOWN')

In [14]:
#removing some baloons ;p
df = df[df['Make']!='Balloon Works']

In [15]:
#claning airport name
df['Airport.Name']=df['Airport.Name'].str.title()

In [16]:
df['Airport.Name']=df['Airport.Name'].replace('Private', 'Private Airstrip')
df['Airport.Name']=df['Airport.Name'].replace('Private Strip', 'Private Airstrip')
df['Airport.Name']=df['Airport.Name'].replace('Pvt', 'Private Airstrip')
df['Airport.Name']=df['Airport.Name'].replace(np.nan, 'None')

In [17]:
#claning airport code

df['Airport.Code']=df['Airport.Code'].replace('NONE', 'None')

In [18]:
conditions = [
    ((df['Airport.Code'] =='None')),
    ((df['Airport.Code'] =='PVT')),
    ((df['Airport.Code'] !='None')& (df['Airport.Code'] !='PVT'))
 ]
choices = ['None','Private','Airport']
df['Airport_Class'] = np.select(conditions, choices, default='NA')

In [19]:
#creating City and State columns
df['Location'] = df['Location'].str.lower()
df['Location'].str.split(',')
df["City"] = df["Location"].str.split(",").str.get(0)
df["State"] = df["Location"].str.split(",").str.get(-1)

In [20]:
#removal of flights with no passengers

df = df.drop(df[(df['Total.Fatal.Injuries'] == 0) & (df['Total.Serious.Injuries'] == 0) & (df['Total.Minor.Injuries'] == 0) & (df['Total.Uninjured'] == 0)].index)

In [21]:
#new target column
df['Casualities'] = ''

In [22]:
#filling values of target column 'casualities'
for index, row in df.iterrows():
    if df.loc[index, 'Total.Fatal.Injuries'] != 0:
        df.loc[index, 'Casualities'] = 'Fatal'
    elif df.loc[index, 'Total.Serious.Injuries'] != 0 or df.loc[index, 'Total.Minor.Injuries'] != 0: 
        df.loc[index, 'Casualities'] = 'Injured'
    else:
        df.loc[index,'Casualities'] = 'No casualities'

In [23]:
# changing Make & Model to lowercase
df['Model'] = df['Model'].str.replace('-', '')
df['Model'] = df['Model'].str.lower()
df['Make'] = df['Make'].str.lower()

In [24]:
# Make cleaning
df['Make'] = df['Make'].replace(r'^Robinson.*', 'Robinson', regex=True)
df['Make'] = df['Make'].replace(r'^Air Tractor.*', 'Air Tractor', regex=True)
df['Make'] = df['Make'].replace(r'^Douglas.*', 'Mcdonnell Douglas', regex=True)
df['Make'] = df['Make'].replace(r'^douglas.*', 'Mcdonnell Douglas', regex=True)
df['Make'] = df['Make'].replace(r'^Mcdonnell.*', 'Mcdonnell Douglas', regex=True)
df['Make'] = df['Make'].replace(r'^Cirrus.*', 'Cirrus', regex=True)
df['Make'] = df['Make'].replace(r'^Airbus.*', 'Airbus', regex=True)
df['Make'] = df['Make'].replace(r'^Grumman.*', 'Grumman', regex=True)
df['Make'] = df['Make'].replace(r'^Ercoupe.*', 'Ercoupe', regex=True)
df['Make'] = df['Make'].replace(r'^Aviat.*', 'Aviat', regex=True)
df['Make'] = df['Make'].replace(r'^Bombardier.*', 'Bombardier', regex=True)
df['Make'] = df['Make'].replace(r'^Aerostar.*', 'Aerostar', regex=True)
df['Make'] = df['Make'].replace(r'^Wsk.*', 'WSK', regex=True)
df['Make'] = df['Make'].replace(r'^Boeing.*', 'Boeing', regex=True)
df['Make'] = df['Make'].replace(r'^Cessna.*', 'Cessna', regex=True)
df['Make'] = df['Make'].replace(r'^Piper.*', 'Piper', regex=True)
df['Make'] = df['Make'].replace(r'^Beech.*', 'Beech', regex=True)
df['Make'] = df['Make'].replace(r'^Bell.*', 'Bell', regex=True)
df['Make'] = df['Make'].replace(r'^Mooney.*', 'Mooney', regex=True)
df['Make'] = df['Make'].replace(r'^Hughes.*', 'Hughes', regex=True)
df['Make'] = df['Make'].replace(r'^Aeronca.*', 'Aeronca', regex=True)
df['Make'] = df['Make'].replace(r'^Maule.*', 'Maule', regex=True)
df['Make'] = df['Make'].replace(r'^Aeronca.*', 'Aeronca', regex=True)
df['Make'] = df['Make'].replace(r'^Champion.*', 'Champion', regex=True)
df['Make'] = df['Make'].replace(r'^Stinson.*', 'Stinson', regex=True)
df['Make'] = df['Make'].replace(r'^Rockwell.*', 'Rockwell', regex=True)
df['Make'] = df['Make'].replace(r'^Aero Commander.*', 'Aero Commander', regex=True)
df['Make'] = df['Make'].replace(r'^Ayers.*', 'Ayres Thrush', regex=True)
df['Make'] = df['Make'].replace(r'^De Havillande.*', 'De Havilland', regex=True)
df['Make'] = df['Make'].replace(r'^Luscombe.*', 'Luscombe', regex=True)
df['Make'] = df['Make'].replace(r'^Champion.*', 'Champion', regex=True)
df['Make'] = df['Make'].replace(r'^North American.*', 'North American', regex=True)
df['Make'] = df['Make'].replace(r'^Taylorcraft.*', 'Taylorcraft', regex=True)
df['Make'] = df['Make'].replace(r'^Aerospatiale.*', 'Aerospatiale', regex=True)
df['Make'] = df['Make'].replace(r'^Hiller.*', 'Hiller', regex=True)
df['Make'] = df['Make'].replace(r'^Swearingen.*', 'Swearingen', regex=True)
df['Make'] = df['Make'].replace(r'^Enstrom.*', 'Enstrom', regex=True)
df['Make'] = df['Make'].replace(r'^Embraer.*', 'Embraer', regex=True)
df['Make'] = df['Make'].replace(r'^Aviat.*', 'Aviat', regex=True)
df['Make'] = df['Make'].replace(r'^Ercoupe.*', 'Ercoupe', regex=True)
df['Make'] = df['Make'].replace(r'^Gulfstream.*', 'Gulfstream', regex=True)
df['Make'] = df['Make'].replace(r'^Sikorsky.*', 'Sikorsky', regex=True)
df['Make'] = df['Make'].replace(r'^Eurocopter.*', 'Eurocopter', regex=True)
df['Make'] = df['Make'].replace(r'^Dehavilland.*', 'De Havilland', regex=True)
df['Make'] = df['Make'].replace(r'^Gulfstream.*', 'Gulfstream', regex=True)
df['Make'] = df['Make'].replace(r'^Raytheon.*', 'Raytheon', regex=True)
df['Make'] = df['Make'].replace(r'^Diamond.*', 'Diamond', regex=True)
df['Make']=df['Make'].replace('Fairchild', 'Swearingen')
df['Make']=df['Make'].replace('Navion', 'Ryan')
df['Make']=df['Make'].replace('Aerostar', 'Piper')
df['Make']=df['Make'].replace('Aerostar', 'Piper')
df['Make']=df['Make'].replace('Grumman American Avn. Corp.', 'Grumman')
df['Make']=df['Make'].replace('Grumman Acft Eng Cor-Schweizer', 'Schweizer')
df['Make']=df['Make'].replace('Gulfstream American', 'Gulfstream')
df['Make']=df['Make'].replace('Eurocopter France', 'Eurocopter')
df['Make']=df['Make'].replace('Ayres Corporation', 'Ayres')
df['Make']=df['Make'].replace('Mooney Aircraft Corp.', 'Mooney')
df['Make']=df['Make'].replace('Mcdonnell Douglas Helicopter', 'Mcdonnell Douglas')
df['Make']=df['Make'].replace('The Boeing Company', 'Boeing')
df['Make']=df['Make'].replace('Schweizer Aircraft Corp', 'Schweizer')

In [25]:
df.loc[df['Make'] == 'cessna', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'piper', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'beech', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'bell', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'robinson', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'hughes', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'boeing', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'mooney', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'grumman', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'air tractor', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'maule', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'champion', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'stinson', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'luscombe', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'aero commander', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'taylorcraft', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'rockwell', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'hiller', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'eurocopter', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'cirrus design corp', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'aeronca', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'de havilland', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'north american', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'enstrom', 'Aircraft.Category'] = 'Helicopter'
df.loc[df['Make'] == 'ayres', 'Aircraft.Category'] = 'Airplane'
df.loc[df['Make'] == 'sikorsky', 'Aircraft.Category'] = 'Helicopter'

In [26]:
#new collumn 'Aircraft_size'
df['Aircraft_size'] = ''

In [27]:
#add passenger count
df['Passengers'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Uninjured']

In [28]:
#size 'large' based on passengers (more than 50)
df.loc[df['Passengers'] > 50, 'Aircraft_size'] = 'large'

In [42]:
#size info

update_info = {
    ('cessna', ('120', '140', '150', '152', '162', '188', '305', 't37b')): 'small',
    ('cessna', ('l19', '170', '172', '177', '175', '180', '182', '205', '206', '210', '185', '152', '404', '421', '207', '208', '310', '340', '337', '402', '195', '414', '441', '401', '550', '425', 
               '303', '320', '335', '336', '500', '510', '551', '560', '411', '190', '525', '560', '501', '650', '680', 't21ol', 't240', 't50', '750', 'tri82', '400')): 'medium',
    ('piper', ('11', '15', '17', '36', '18', '19', '21', '38', '108', 'j', '25', 'e2')): 'small',
    ('piper', ('14', '16', '60', '20', '22', '28', '30', '39', '42', '44', '23', '34', '24', '32', '46', '12', '31', 'seneca')): 'medium',
    ('mooney', ('20', '2o', '22')): 'medium',
    ('mooney', ('10', '18', '2a')): 'small',
    ('boeing', ('707','717', '727', '737', '747', '757', '767', '777', '787', 'md11f', 'dc982')): 'large',
    ('boeing', ('b17g', 'dhc8102')): 'medium',
    ('boeing', ('a75', 'b75', 'e75', 'd75', 'pt13', 'pt17')): 'small',
    ('grumman', ('164', 'aa1', 'aa 1')): 'small',
    ('grumman', ('aa5', 'aa 5', '7', '15', '44', 'tb', '21', '73')): 'medium',
    ('bellanca', ('c',)): 'small',
    ('bellanca', ('17', '14', 'bl')): 'medium',
    ('robinson', ('r44', 'r22', '22', 's12')): 'small',
    ('robinson', ('r66',)): 'medium',
    ('schweizer', ('269', '164', '12', '13', '23', '26', '22', '32', '34')): 'small',
    ('schweizer', ('300',)): 'medium',
    ('aeronca', ('7', '11', '58', '65', 'c3')): 'small',
    ('aeronca', ('15',)): 'medium',
    ('mcdonnell douglas', ('dc', '88', '82', '10', '11', '54', '80', '83', '90', '81')): 'large',
    ('mcdonnell douglas', ('600', '369', '500')): 'medium',
    ('stinson', ('108', '77', '10', '19', 'sr', '180', '181')): 'medium',
    ('stinson', ('l5', 'l 5')): 'small',
    ('aero commander', ('a9', 's2')): 'small',
    ('aero commander', ('100', '112', '114', '200', '400', '500', '520', '560', '68', '69')): 'medium',
    ('taylorcraft', ('bc', 'dc', 'l2', 'bl', 'bf', '21', '19')): 'small',
    ('taylorcraft', ('20', '18')): 'medium',
    ('de havilland', ('dhc8', 'dhc7')): 'large',
    ('de havilland', ('dhc2', 'dhc3', 'dhc6')): 'medium',
    ('north american', ('t6', 't 6', 'snj', '51', '28')): 'small',
    ('north american', ('navion', 'na', 'b25')): 'medium',
    ('aerospatiale', ('atr',)): 'large',
    ('aerospatiale', ('sa', 'as', 'tb', '350', '316', '355', '300')): 'medium',
    ('rockwell', ('s2', 'a9')): 'small',
    ('rockwell', ('100', '112', '114', '680', '690', '500', '265')): 'medium',
    ('luscombe', ('11',)): 'medium',
    ('luscombe', ('8',)): 'small',
}

def update_model(row):
    make = row['Make']
    model = str(row['Model'])
    
    for condition, info in update_info.items():
        if make == condition[0] and any(x in model for x in condition[1]):
            return info
    
    return model

df['Aircraft_size'] = df.apply(update_model, axis=1)

In [43]:
#size info continued
df.loc[df['Make'] == 'beech', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'bell', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'hughes', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'air tractor', 'Aircraft_size'] = 'small'
df.loc[df['Make'] == 'maule', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'champion', 'Aircraft_size'] = 'small'
df.loc[df['Make'] == 'hiller', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'enstrom', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'ayres', 'Aircraft_size'] = 'small'
df.loc[df['Make'] == 'corp', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'eurocopter', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'cirrus design corp', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'cirrus', 'Aircraft_size'] = 'medium'
df.loc[df['Make'] == 'sikorsky', 'Aircraft_size'] = 'medium'

In [44]:
#filling unkonwn sizes with UNKNOWN
sizes = ['small', 'medium', 'large']
for index, row in df.iterrows():
    if df.loc[index, 'Aircraft_size'] not in sizes:
        df.loc[index, 'Aircraft_size'] = 'UNKNOWN'

In [45]:
df['Aircraft_size'].value_counts()

medium     37729
small      19403
UNKNOWN    18148
large       1447
Name: Aircraft_size, dtype: int64

In [46]:
#removal of everything except airplane, helicopter and unknown 
df=df[(df['Aircraft.Category']=="UNKNOWN") | (df['Aircraft.Category']=="Airplane") | (df['Aircraft.Category']=="Helicopter")]

In [47]:
#creation of model.size (e.g. cessna_small) & category.size (e.g. airplane_small)

df['Model_size'] = df['Make'] + '_' + df['Aircraft_size']
df['Category_size'] = df['Aircraft.Category'] + '_' + df['Aircraft_size']

In [51]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Year',
       'Month.Abbr', 'Day.Name.Abbr', 'Weekend', 'Airport_Class', 'City',
       'State', 'Casualities', 'Aircraft_size', 'Passengers', 'Model_size',
       'Category_size'],
      dtype='object')

In [55]:
df = df[['Event.Date','Year', 'Month.Abbr', 'Day.Name.Abbr', 'Weekend', 'Location', 'Country', 'City',
       'State','Airport.Code', 'Airport.Name', 'Airport_Class', 'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight', 'Weather.Condition', 'Broad.phase.of.flight',
    'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Casualities', 'Passengers', 'Aircraft_size', 'Model_size',
       'Category_size']]

In [56]:
df.to_csv(data_dir + 'aviation_ml.csv', index = False)