In [1]:
import numpy as np
import pandas as pd
from time import time
import matplotlib.pyplot as plt
import seaborn as sns

In [118]:
df = pd.read_csv('birds.csv')
df_orders = pd.read_csv('orders.csv', sep=';')

In [119]:
df.head(10)

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
5,0.0,train/ABBOTTS BABBLER/003.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
6,0.0,train/ABBOTTS BABBLER/004.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
7,0.0,train/ABBOTTS BABBLER/005.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
8,0.0,train/ABBOTTS BABBLER/006.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
9,0.0,train/ABBOTTS BABBLER/010.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI

In [120]:
df.labels.value_counts()

RUFOUS TREPE               273
HOUSE FINCH                258
D-ARNAUDS BARBET           243
OVENBIRD                   243
ASIAN GREEN BEE EATER      230
                          ...
NORTHERN RED BISHOP        140
SNOWY PLOVER               140
PATAGONIAN SIERRA FINCH    140
EURASIAN GOLDEN ORIOLE     140
RED TAILED THRUSH          140
Name: labels, Length: 525, dtype: int64

In [121]:
df['scientific name']

0         MALACOCINCLA ABBOTTI
1         MALACOCINCLA ABBOTTI
2         MALACOCINCLA ABBOTTI
3         MALACOCINCLA ABBOTTI
4         MALACOCINCLA ABBOTTI
                 ...
89880    NOTHARCHUS PECTORALIS
89881    NOTHARCHUS PECTORALIS
89882    NOTHARCHUS PECTORALIS
89883    NOTHARCHUS PECTORALIS
89884    NOTHARCHUS PECTORALIS
Name: scientific name, Length: 89885, dtype: object

In [122]:
df["genus"] = df['scientific name'].str.split(" ").str.get(0)

In [123]:
df["genus"].value_counts()

SETOPHAGA         1490
ANAS               836
PASSERINA          825
FALCO              722
                   709
                  ...
CORYTHAIXOIDES     141
CALLIPHLOX         140
NEOCOSSYPHUS       140
ORIOLUS            140
PHRYGILUS          140
Name: genus, Length: 425, dtype: int64

In [124]:
df["name_short"] = df['labels'].str.split(" ").str.get(-1)

In [125]:
df["name_short"].value_counts()

DUCK          1600
WARBLER       1481
PHEASANT      1383
KINGFISHER    1378
EAGLE         1249
              ...
BUSTARD        141
FRANCOLIN      141
HEN            141
WOODSTAR       140
BISHOP         140
Name: name_short, Length: 312, dtype: int64

In [126]:
df.labels.str.contains('ROBIN').value_counts()

False    89031
True       854
Name: labels, dtype: int64

In [127]:
df.labels.str.contains('ROBIN').value_counts()

df.loc[df['labels'].str.contains('TIT'), 'order'] = 'Passeriformes'
df.loc[df['labels'].str.contains('FINCH'), 'order'] = 'Passeriformes'
df.loc[df['labels'].str.contains('SPARROW'), 'order'] = 'Passeriformes'

In [128]:
df.labels.str.contains('SPARROW').value_counts()

False    89196
True       689
Name: labels, dtype: int64

In [105]:
df.labels.str.contains('FINCH').value_counts()

False    88067
True      1818
Name: labels, dtype: int64

In [106]:
df.labels.str.contains('TIT').value_counts()

False    89004
True       881
Name: labels, dtype: int64

In [107]:
df.loc[df.labels.str.contains('WARBLER'),

False    88404
True      1481
Name: labels, dtype: int64

In [129]:
df_orders['Accipitriformes'] = df_orders['Accipitriformes'].str.lower()
df_orders['Anseriformes'] = df_orders['Anseriformes'].str.lower()
df_orders['Columbiformes'] = df_orders['Columbiformes'].str.lower()
df_orders['Gruiformes'] = df_orders['Gruiformes'].str.lower()
df_orders['Apodiformes'] = df_orders['Apodiformes'].str.lower()
df_orders['Piciformes'] = df_orders['Piciformes'].str.lower()



Accipitriformes = df_orders['Accipitriformes'].tolist()
Anseriformes = df_orders['Anseriformes'].tolist()
Columbiformes = df_orders['Columbiformes'].tolist()
Gruiformes = df_orders['Gruiformes'].tolist()
Apodiformes = df_orders['Apodiformes'].tolist()
Piciformes = df_orders['Piciformes'].tolist()

In [130]:
df['scientific name'] = df['scientific name'].str.lower()

In [131]:
df['order'] = ''
for index, row in df.iterrows():
    if df.loc[index, 'scientific name'] in Accipitriformes:
        df.loc[index, 'order'] = 'Accipitriformes'
    elif df.loc[index, 'scientific name'] in Anseriformes:
        df.loc[index, 'order'] = 'Anseriformes'
    elif df.loc[index, 'scientific name'] in Columbiformes:
        df.loc[index, 'order'] = 'Columbiformes'
    elif df.loc[index, 'scientific name'] in Gruiformes:
        df.loc[index, 'order'] = 'Gruiformes'
    elif df.loc[index, 'scientific name'] in Apodiformes:
        df.loc[index, 'order'] = 'Apodiformes'
    elif df.loc[index, 'scientific name'] in Piciformes:
        df.loc[index, 'order'] = 'Piciformes'

In [133]:
df.loc[df['labels'].str.contains('TIT'), 'order'] = 'Passeriformes'
df.loc[df['labels'].str.contains('FINCH'), 'order'] = 'Passeriformes'
df.loc[df['labels'].str.contains('SPARROW'), 'order'] = 'Passeriformes'

In [151]:
df2 = df[(df['order']=="Passeriformes") | (df['order']=="Accipitriformes") | (df['order']=="Anseriformes")].reindex()

In [157]:
df2.drop(columns = ['genus', 'name_short', 'class id'], inplace=True)

In [159]:
df2['order'].replace(['Passeriformes', 'Accipitriformes', 'Anseriformes'], ['sparrows', 'eagles', 'ducks'], inplace = True)

In [165]:
df2 = df2.reset_index()

In [166]:
df2

,index,filepaths,labels,data set,scientific name,order
0,811,train/AFRICAN FIREFINCH/027.jpg,AFRICAN FIREFINCH,train,lagonosticta rubricata,sparrows
1,812,train/AFRICAN FIREFINCH/002.jpg,AFRICAN FIREFINCH,train,lagonosticta rubricata,sparrows
2,813,train/AFRICAN FIREFINCH/003.jpg,AFRICAN FIREFINCH,train,lagonosticta rubricata,sparrows
3,814,train/AFRICAN FIREFINCH/004.jpg,AFRICAN FIREFINCH,train,lagonosticta rubricata,sparrows
4,815,train/AFRICAN FIREFINCH/005.jpg,AFRICAN FIREFINCH,train,lagonosticta rubricata,sparrows
...,...,...,...,...,...,...
9974,89810,valid/WRENTIT/3.jpg,WRENTIT,valid,chamaea fasciata,sparrows
9975,89811,valid/WRENTIT/2.jpg,WRENTIT,valid,chamaea fasciata,sparrows
9976,89812,valid/WRENTIT/4.jpg,WRENTIT,valid,chamaea fasciata,sparrows
9977,89813,valid/WRENTIT/5.jpg,WRENTIT,valid,chamaea fasciata,sparrows
9978,89814,valid/WRENTIT/1.jpg,WRENTIT,valid,chamaea fasciata,sparrows

In [168]:
df2.to_csv('bird_orders.csv', index = False)