In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [105]:
df = pd.read_csv("df_usa.csv")
df.head()

,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,States
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,stinson,108-3,No,1.0,reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,ID
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,piper,PA24-180,No,1.0,reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,CA
2,1974-08-30,"SALTVILLE, VA",United States,Fatal(3),Destroyed,NaN,cessna,172M,No,1.0,reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,VA
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,rockwell,112,No,1.0,reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,CA
4,1979-08-02,"CANTON, OH",United States,Fatal(1),Destroyed,NaN,cessna,501,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,OH

In [92]:
df['Model'] = df['Model'].str.replace('-', '')

In [3]:
# ZAMIANA NAZW W MODELU

In [99]:

update_info = {
    ('beech', ('33', '35', '36')): 'Bonanza',#6
    ('beech', ('55', '56', '58')): 'Baron',#6
    ('beech', ('19', '23', '24')): 'Musketeer',#4
    ('beech', (18,)): 'Model 18',#10
    ('beech', (90,)): 'Model 90',#9
    ('beech', (100,)): 'Model 100',#15
    ('beech', ('200', '300', '400')): 'Model 200-400',#12
    ('beech', (45,)): '45',#10
    ('bell', ('206', '407')): 'Model 206-407',#5
    ('bell', ('47', '58')): 'Model 47-58',#4
    ('bell', ('204', '205', '222')): 'Model 206-407',#10
    ('bell', ('212', '412', '214', 'TH', 'UH')): 'Model 185-421',#15
    ('cessna', ('120', '140', '150', '152')): 'Model 120-152',#2
    ('cessna', ('170', '172', '177', '175', '180', '182')): 'Model 170-182',#4
    ('cessna', ('206', '210', '185', '152', '421')): 'Model 185-421',#6
    ('cessna', (188,)): 'Model 188',#1
    ('cessna', (207,)): 'Model 207',#8
    ('cessna', (208,)): 'Model 208',#10
    ('piper', ('18', '38', '22-108', 'J')): 'Model 18-38',#2
    ('piper', ('20', '22', '28', '30', '44')): 'Model 20-44',#4
    ('piper', ('23', '34', '24', '32', '46')): 'Model 23-46',#6
    ('mooney', (20,)): 'Mooney medium',
    ('mooney', (18, '2A')): 'Mooney small'
}

def update_model(row):
    make = row['Make']
    model = str(row['Model'])
    
    for condition, info in update_info.items():
        if make == condition[0] and any(x in model for x in map(str, condition[1])):
            return f"{info}"
    
    return model

df['Model.Update'] = df.apply(update_model, axis=1)

In [101]:
update_capacity = {
    ('cessna', ('120', '140', '150', '152', '188')): 'cessna_small',#2
    ('cessna', ('170', '172', '177', '175', '180', '182', '206', '210', '185', '152', '421', '207', '208')): 'cessna_medium',#4
    
    ('piper', ('18', '38', '22-108', 'J', '25')): 'piper_small',#2
    ('piper', ('20', '22', '28', '30', '44','23', '34', '24', '32', '46', '12', '31')): 'piper_medium',#4
    
    ('mooney', (20,)): 'Mooney medium',
    ('mooney', (18, '2A')): 'Mooney small'
}

def update_capacity(row):
    make = row['Make']
    model = str(row['Model'])
    
    for condition, info in update_capacity.items():
        if make == condition[0] and any(x in model for x in map(str, condition[1])):
            return f"{info}"
    
    return model

df['Model.Capacity'] = df.apply(update_model, axis=1)

In [104]:

print(df['Model.Capacity'])

0                 1083
1          Model 18-38
2        Model 170-182
3                  112
4                  501
             ...
82243      Model 20-44
82244             7ECA
82245            8GCBC
82246    Model 185-421
82247      Model 23-46
Name: Model.Capacity, Length: 82248, dtype: object

In [96]:
# Fixing the condition for 'Mooney large'
df.loc[(df['Make'] == 'mooney') & (df['Model'].str.contains('M20')), 'Model.Update'] = 'Mooney large'
df.loc[df['Make'] == 'mooney', 'Model.Update'] = 'Mooney small'

In [100]:
mooney_df = df[df['Make'] == 'mooney']

# Use the value_counts() function to get the count of each unique model
model_counts = mooney_df['Model.Update'].value_counts()

top_20_models = model_counts.head(50)

print("Top 20 models from the 'mooney' brand:")
print(top_20_models)

Top 20 models from the 'mooney' brand:
Mooney small       1265
Mooney large         10
M10                   5
M22                   3
231                   3
M2OJ                  1
M2O                   1
21                    1
MK21                  1
MARK 22               1
M2OE                  1
RANS S7 COURIER       1
Name: Model.Update, dtype: int64

In [88]:

mooney_rows = df[df['Make'] == 'mooney']
mooney_model_update = mooney_rows['Model.Update']
print(mooney_model_update)

48       Mooney small
70       Mooney small
113      Mooney small
145      Mooney small
152      Mooney small
             ...
81845    Mooney small
82087    Mooney small
82193    Mooney small
82203    Mooney small
82229    Mooney small
Name: Model.Update, Length: 1293, dtype: object

AttributeError: 'DataFrame' object has no attribute 'mooney_model_update'

In [35]:
# Cessna na airplane
df.loc[df['Make'] == 'cessna', 'Aircraft.Category'] = 'Airplane'

In [37]:
df.loc[df['Make'] == 'piper', 'Aircraft.Category'] = 'Airplane'

In [38]:
df.loc[df['Make'] == 'beech', 'Aircraft.Category'] = 'Airplane'

In [39]:
df.loc[df['Make'] == 'bell', 'Aircraft.Category'] = 'Helicopter'

In [41]:
df.loc[df['Make'] == 'robinson', 'Aircraft.Category'] = 'Helicopter'

In [42]:
df.loc[df['Make'] == 'hughes', 'Aircraft.Category'] = 'Helicopter'

In [43]:
df.loc[df['Make'] == 'boeing', 'Aircraft.Category'] = 'Airplane'

In [44]:
df.loc[df['Make'] == 'mooney', 'Aircraft.Category'] = 'Airplane'

In [45]:
df.loc[df['Make'] == 'grumman', 'Aircraft.Category'] = 'Airplane'

In [52]:
df.loc[df['Make'] == 'air tractor', 'Aircraft.Category'] = 'Airplane'

In [51]:
df.loc[df['Make'] == 'maule', 'Aircraft.Category'] = 'Airplane'

In [50]:
df.loc[df['Make'] == 'champion', 'Aircraft.Category'] = 'Airplane'

In [48]:
df.loc[df['Make'] == 'stinson', 'Aircraft.Category'] = 'Airplane'

In [49]:
df.loc[df['Make'] == 'luscombe', 'Aircraft.Category'] = 'Airplane'

In [55]:
df.loc[df['Make'] == 'aero commander', 'Aircraft.Category'] = 'Airplane'

In [56]:
df.loc[df['Make'] == 'taylorcraft', 'Aircraft.Category'] = 'Airplane'

In [57]:
df.loc[df['Make'] == 'rockwell', 'Aircraft.Category'] = 'Airplane'

In [60]:
df.loc[df['Make'] == 'hiller', 'Aircraft.Category'] = 'Helicopter'

In [59]:
df.loc[df['Make'] == 'eurocopter', 'Aircraft.Category'] = 'Helicopter'

In [61]:
df.isnull().sum()

Event.Date                    0
Location                     11
Country                       0
Injury.Severity             108
Aircraft.damage            1979
Aircraft.Category         13249
Make                         21
Model                        38
Amateur.Built                21
Number.of.Engines          1875
Engine.Type                3023
Purpose.of.flight          2429
Total.Fatal.Injuries      10654
Total.Serious.Injuries    11374
Total.Minor.Injuries      10729
Total.Uninjured            5005
Weather.Condition           645
Broad.phase.of.flight     21088
Report.Status              2613
States                       74
Model.Update                  0
dtype: int64

In [54]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,80373.000000,71594.000000,70874.000000,71519.000000,77243.000000
mean,1.135481,0.421683,0.257175,0.333016,4.302448
std,0.427286,2.433647,1.144181,1.306620,23.794728
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,265.000000,137.000000,125.000000,699.000000

In [76]:
df['Make'] = df['Make'].str.replace('-', '')

In [85]:
beech_df = df[df['Make'] == 'beech']

# Use the value_counts() function to get the count of each unique model
model_counts = beech_df['Model'].value_counts()

top_20_models = model_counts.head(50)

print("Top 20 models from the 'beech' brand:")
print(top_20_models)

Top 20 models from the 'beech' brand:
A36      451
C23      222
58       217
V35B     160
35       142
F33A     122
95B55    122
23        93
A36TC     80
V35       78
S35       76
C24R      74
E18S      69
B19       67
200       66
58P       65
76        64
C35       63
A23       62
H35       60
77        59
K35       55
G35       54
36        53
1900D     52
B35       51
A35       48
J35       47
B36TC     46
P35       43
C90       42
V35A      41
95C55     41
M35       40
B23       40
E55       38
A2324     37
F35       37
95A55     34
B60       34
35B33     34
1900C     34
55        34
A24R      34
95        33
N35       32
C45H      31
35C33     30
D18S      30
BE58      30
Name: Model, dtype: int64

In [89]:
mooney_df = df[df['Make'] == 'mooney']

# Use the value_counts() function to get the count of each unique model
model_counts = mooney_df['Model.Update'].value_counts()

top_20_models = model_counts.head(50)

print("Top 20 models from the 'mooney' brand:")
print(top_20_models)

Top 20 models from the 'mooney' brand:
Mooney small    1293
Name: Model.Update, dtype: int64

In [64]:
df['Model.Update'].unique().size

9906

In [21]:
bell_df = df[df['Make'] == 'bell']

# Use the value_counts() function to get the count of each unique model
model_counts = bell_df['Model.Update'].value_counts()

top_20_models = model_counts.head(50)

print("Top 20 models from the 'bell' brand:")
print(top_20_models)

Top 20 models from the 'bell' brand:
206         1074
47G           94
407           88
47G-2         83
47G-3B-1      65
UH-1B         53
47D1          50
47G-5         35
OH-58A        33
UH-1H         32
212           30
47G2          29
47G-4A        27
47G-2A        24
OH-58C        20
47G-3B1       19
205A-1        17
222           17
47G-5A        17
47G3B1        15
47G-3B        15
412           15
47G-3B-2      15
47            11
47D-1         11
OH 58A        11
TH-13T        10
47-G5         10
47-D1         10
222UT          9
204B           9
47-G2          8
47G-2A-1       8
222U           8
47G-4          7
47J            7
47G5           7
230            7
47J-2A         7
214B-1         7
47G3B2A        6
47J-2          6
430            6
UH 1H          6
UH1B           5
UH-1E          5
47-G3B1        5
TH-1L          5
47G4           5
47G 3B 1       5
Name: Model.Update, dtype: int64