In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv("AviationData2.csv")
df.head()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/828703826.py:1: DtypeWarning: Columns (6,7,23,28,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("AviationData2.csv")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Broad.phase.of.flight,Report.Status,Publication.Date,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Cruise,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Unknown,Probable Cause,19-09-1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Cruise,Probable Cause,26-02-2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Cruise,Probable Cause,12-09-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Approach,Probable Cause,16-04-1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# usuniÄ™cie niepotrzebnych kolumn
df1 = df.drop(['Event.Id', 'Investigation.Type', 'Accident.Number','Latitude', 'Longitude', 'Airport.Code','Airport.Name', 'Registration.Number', 'FAR.Description', 'Schedule', 'Air.carrier','Publication.Date', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37'], axis=1)
df1.head()

,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause

In [41]:
# dane tylko z USA
us_df = df1[df1['Country'] == 'United States']

In [121]:
us_df.isnull().sum()

Event.Date                    0
Location                     11
Country                       0
Injury.Severity             108
Aircraft.damage            1979
Aircraft.Category         54093
Make                         21
Model                        38
Amateur.Built                21
Number.of.Engines          1770
Engine.Type                3023
Purpose.of.flight          2429
Total.Fatal.Injuries      10654
Total.Serious.Injuries    11374
Total.Minor.Injuries      10729
Total.Uninjured            5005
Weather.Condition           645
Broad.phase.of.flight     21088
Report.Status              2613
States                       11
dtype: int64

In [43]:
us_df['Country'].unique()

array(['United States'], dtype=object)

In [44]:
us_df['Amateur.Built'].unique()

array(['No', 'Yes', nan], dtype=object)

In [45]:
us_df['Amateur.Built'].value_counts()

No     73906
Yes     8321
Name: Amateur.Built, dtype: int64

In [46]:
us_df['Number.of.Engines'].unique()

array([ 1., nan,  2.,  0.,  3.,  4.,  8.,  6.])

In [47]:
us_df['Number.of.Engines'].value_counts()

1.0    68405
2.0    10087
0.0     1106
3.0      431
4.0      340
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [48]:
us_df['Purpose.of.flight'].unique()

array(['Personal', nan, 'Business', 'Instructional', 'Unknown', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'Flight Test', 'Air Race/show', 'Air Drop', 'Glider Tow',
       'Public Aircraft - Federal', 'Public Aircraft - Local',
       'External Load', 'Public Aircraft - State', 'Banner Tow',
       'Firefighting', 'Air Race show', 'PUBS', 'ASHO', 'PUBL'],
      dtype=object)

In [49]:
us_df['Purpose.of.flight'].value_counts()

Personal                     48544
Instructional                10429
Unknown                       5739
Aerial Application            4627
Business                      3843
Positioning                   1566
Other Work Use                1192
Ferry                          729
Aerial Observation             707
Public Aircraft                685
Executive/corporate            509
Flight Test                    391
Skydiving                      171
External Load                  112
Banner Tow                     101
Public Aircraft - Federal       98
Air Race show                   82
Public Aircraft - Local         74
Public Aircraft - State         63
Air Race/show                   57
Glider Tow                      52
Firefighting                    29
Air Drop                         8
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [57]:
us_df['Weather.Condition'].unique()

array(['UNK', 'IMC', 'VMC', nan, '0'], dtype=object)

In [56]:
us_df['Weather.Condition'].value_counts()

VMC    75315
IMC     5618
UNK      668
0          2
Name: Weather.Condition, dtype: int64

In [52]:
us_df['Weather.Condition'] = us_df['Weather.Condition'].str.upper()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/3350712895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df['Weather.Condition'] = us_df['Weather.Condition'].str.upper()

In [64]:
us_df['Location'] = us_df['Location'].str.upper()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/2825775398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df['Location'] = us_df['Location'].str.upper()

In [65]:
us_df['Location'].value_counts()

ANCHORAGE, AK       548
MIAMI, FL           275
HOUSTON, TX         271
ALBUQUERQUE, NM     265
CHICAGO, IL         256
                   ...
LAWRENCEVILE, GA      1
ECKLEY, CO            1
SAINT JOSEPH, LA      1
MATTAPAN, MA          1
AUBURN HILLS, MI      1
Name: Location, Length: 17588, dtype: int64

In [68]:
top_20_location_counts = us_df['Location'].value_counts().head(20)
print(top_20_location_counts)

ANCHORAGE, AK      548
MIAMI, FL          275
HOUSTON, TX        271
ALBUQUERQUE, NM    265
CHICAGO, IL        256
FAIRBANKS, AK      246
PHOENIX, AZ        224
TUCSON, AZ         196
DENVER, CO         196
ATLANTA, GA        189
RENO, NV           177
SAN DIEGO, CA      177
LAS VEGAS, NV      175
TALKEETNA, AK      171
PALMER, AK         163
ORLANDO, FL        163
ENGLEWOOD, CO      159
SAN ANTONIO, TX    151
MESA, AZ           149
CHANDLER, AZ       148
Name: Location, dtype: int64

In [69]:
# stworzenie kolumny ze stanami
us_df['States'] = us_df['Location'].str.split(',').str[-1].str.strip()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/684012230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df['States'] = us_df['Location'].str.split(',').str[-1].str.strip()

In [70]:
us_df['States'].value_counts()

CA    8857
TX    5913
FL    5825
AK    5672
AZ    2834
      ...
PO      14
GU       8
VI       6
UN       3
CB       1
Name: States, Length: 61, dtype: int64

In [72]:
top_20_states_counts = us_df['States'].value_counts().head(30)
print(top_20_states_counts)

CA    8857
TX    5913
FL    5825
AK    5672
AZ    2834
CO    2726
WA    2613
IL    2060
MI    2030
GA    2023
NY    1915
OH    1823
PA    1790
OR    1772
NC    1661
MO    1565
WI    1560
AR    1519
MN    1456
ID    1436
NM    1358
UT    1336
IN    1320
VA    1275
OK    1240
NV    1236
LA    1216
NJ    1170
AL    1153
TN    1108
Name: States, dtype: int64

In [90]:
us_df['Broad.phase.of.flight'].unique()

array(['Cruise', 'Unknown', 'Approach', 'Climb', 'Takeoff', 'Landing',
       'Taxi', 'Descent', 'Maneuvering', 'Standing', 'Go-around', nan],
      dtype=object)

In [96]:
us_df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', nan, 'Unknown'], dtype=object)

In [93]:
row_with_value_Fatal = us_df[us_df['Aircraft.damage'] == 'Fatal(2)']
print(row_with_value_Fatal)

       Event.Date    Location        Country Injury.Severity Aircraft.damage  \
55945  2003-12-04  MORLAN, GA  United States       Coweta Co        Fatal(2)

      Aircraft.Category   Make Model Amateur.Built  Number.of.Engines  \
55945         Destroyed  beech  B200            No                2.0

      Engine.Type Purpose.of.flight Total.Fatal.Injuries  \
55945  turbo prop       Positioning                  2.0

       Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured  \
55945                     0.0                   NaN              NaN

      Weather.Condition Broad.phase.of.flight   Report.Status States
55945               IMC              Approach  Probable Cause     GA

In [94]:
us_df.loc[55945, 'Aircraft.damage'] = 'Destroyed'

In [95]:
us_df.loc[55945, 'Injury.Severity'] = 'Fatal(2)'

In [86]:
us_df['Broad.phase.of.flight'].value_counts()

Landing        15365
Takeoff        12412
Cruise         10073
Maneuvering     8100
Approach        6502
Climb           2006
Taxi            1941
Descent         1862
Go-around       1350
Standing         926
Unknown          623
Name: Broad.phase.of.flight, dtype: int64

In [87]:
row_with_value_vmc = us_df[us_df['Broad.phase.of.flight'] == 'VMC']
print(row_with_value_vmc)

Empty DataFrame
Columns: [Event.Date, Location, Country, Injury.Severity, Aircraft.damage, Aircraft.Category, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, Purpose.of.flight, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, States]
Index: []

In [78]:
# wpisanie w wierszach 70590 i 77039 VMC w kolumnie Weather
us_df.loc[us_df.index.isin([70590, 77039]), 'Weather.Condition'] = 'VMC'

In [80]:
us_df.loc[70590, 'Total.Serious.Injuries'] = 1.0

In [81]:
us_df.loc[77039, 'Total.Serious.Injuries'] = 2.0

In [82]:
us_df.loc[us_df.index.isin([70590, 77039]), 'Total.Fatal.Injuries'] = 0.0

In [85]:
us_df.loc[us_df.index.isin([70590, 77039]), 'Broad.phase.of.flight'] = 'Unknown'

In [59]:
# zamiana Other na Unknown

In [53]:
us_df['Make'] = us_df['Make'].str.lower()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/2796289136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df['Make'] = us_df['Make'].str.lower()

In [54]:
us_df['Make'].unique()

array(['stinson', 'piper', 'cessna', ..., 'james r dernovsek',
       'orlican s r o', 'royse ralph l'], dtype=object)

In [55]:
us_df['Make'].value_counts()

cessna           25853
piper            14168
beech             5059
bell              2285
boeing            1485
                 ...
van grouw            1
schwarzler           1
rotordyne            1
wirth                1
royse ralph l        1
Name: Make, Length: 7404, dtype: int64

In [89]:
us_df['Engine.Type'].value_counts()

reciprocating    68507
turbo shaft       3331
turbo prop        3206
turbo fan         2094
unknown           1386
turbo jet          667
none                21
electric            10
lr                   2
hybrid rocket        1
Name: Engine.Type, dtype: int64

In [125]:
sns.countplot(data=us_df,x='Engine.Type')

In [88]:
us_df.loc[us_df['Engine.Type'] == 'unk', 'Engine.Type'] = 'unknown'

In [74]:
us_df['Engine.Type'] = us_df['Engine.Type'].str.lower()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_4735/3187726784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df['Engine.Type'] = us_df['Engine.Type'].str.lower()

In [62]:
import pandas_profiling as pp
profile = pp.ProfileReport(us_df)
profile.to_file("us_df.html")

/Users/smarta/opt/anaconda3/lib/python3.9/site-packages/multimethod/__init__.py:209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self[tuple(map(self.get_type, args))](*args, **kwargs)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [97]:
us_df.to_csv('df_usa.csv', index=False)

In [120]:
us_df['Number.of.Engines'].value_counts()

1.0    68497
2.0    10100
0.0     1106
3.0      431
4.0      340
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [103]:
# uzupeÅ‚nienie liczby silnikÃ³w
specific_models = ['150', '150F', '150J', '150L', '152']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 1.0

In [105]:
specific_models = ['172', '172F', '172D', '172E', '172N', '172P', '172Q', '172R', '175B', '177', '180', '182', '182E', '182E', '182J', '182P', '182S']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 1.0

In [107]:
specific_models = ['185', '205', '206', '207', '208B', '210', '210F', '210N']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 1.0

In [112]:
specific_models = ['A185', 'A185F', 'A188','A188B', 'C172', 'R172', 'R182', 'T206', 'T210', 'T210N', 'T210 - H']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 1.0

In [114]:
specific_models = ['P210', 'P210N', 'T240', 'T182T', 'T188C']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 1.0

In [115]:
specific_models = ['441', '500', '501','680', 'T310', 'T310Q', 'T310R', 'S550', '310J', '310K', '310R']
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'cessna') & (us_df['Model'].isin(specific_models)), 'Number.of.Engines'] = 2.0

In [119]:
us_df.loc[(us_df['Number.of.Engines'].isna()) & (us_df['Make'] == 'shweizer') & (us_df['Model'].str.contains('SG')), 'Number.of.Engines'] = 0.0

In [126]:
# WIZUALIZACJE
sns.heatmap(us_df.corr(),annot=True)

In [127]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82248 entries, 0 to 88888
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              82248 non-null  object
 1   Location                82237 non-null  object
 2   Country                 82248 non-null  object
 3   Injury.Severity         82140 non-null  object
 4   Aircraft.damage         80269 non-null  object
 5   Aircraft.Category       28155 non-null  object
 6   Make                    82227 non-null  object
 7   Model                   82210 non-null  object
 8   Amateur.Built           82227 non-null  object
 9   Number.of.Engines       80478 non-null  float64
 10  Engine.Type             79225 non-null  object
 11  Purpose.of.flight       79819 non-null  object
 12  Total.Fatal.Injuries    71594 non-null  object
 13  Total.Serious.Injuries  70874 non-null  float64
 14  Total.Minor.Injuries    71519 non-null  float64
 15  Total.Uninjured         77243 non-null  float64
 16  Weather.Condition       81603 non-null  object
 17  Broad.phase.of.flight   61160 non-null  object
 18  Report.Status           79635 non-null  object
 19  States                  82237 non-null  object
dtypes: float64(4), object(16)
memory usage: 15.2+ MB

df = pd.read_csv("AviationData2.csv")